[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bs4 = "*"
requests = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
timezonefinder = "*"

[dev-packages]

[requires]
python_version = "3.12"
